.badge {
  padding: 6px 12px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.PENDENTE {
  background: #f1c40f;
}

.EXPORTADO {
  background: #2ecc71;
}

.REJEITADO {
  background: #e74c3c;
}